body, html, .container { /// take all available height
  height: 100%;
}
.jumbotron {
      margin-bottom: 0;
}
.bg121{
  background-color: blue;
}
.table th, .table td { 
     border-top: none !important; 
 }
