body, html, .container { /// take all available height
  height: 100%;
}
.header{background:#555; padding:20px;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
    .header a.judul{font-size:200%; color:#fff;}
.content{background:#fff; min-height:400px; padding:10px;}
.footer{background:#333; padding:10px; color:#ccc;}
.headerform{
  font-weight: bold;
  background-color:#6E3D0D; color:#fff; margin-bottom: 20px; padding:10px; margin-left: 0px; text-align: center;}
.headerformch1{
  font-weight: bold;
  background-color:#75471A; color:#fff; margin-bottom: 20px; padding:10px; margin-left: 0px; text-align: center;}


/* Radio */
.labelradio{
margin-right: 20px;
}
input[type="radio"] {

    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(10deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px hsla(0,0%,10%,.2),
                0 0 0 1px hsla(0,0%,0%,.2),
                0 1px 1px hsla(0,0%,0%,.2),
                0 1px 1px hsla(0,0%,0%,.2),
                0 1px 1px hsla(0,0%,0%,.2),
                0 10px 1px hsla(0,0%,0%,.0);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}
