<style>
.header {border-bottom:solid 3px #EF4135; height:85px; width:90%; margin:auto; margin-bottom:20px;}
.header img {width:50px!important;height:30px!important; float:left; margin-right:10px;}
.header h3{font-family:Times, serif;font-size:30px; line-height:30px; text-align:center; margin-top:20px; font-weight:bold; text-transform:uppercase}
.header p {text-align:center; font-weight:bold; margin:auto;padding:1px!important;}
.header span {padding-top:10px;}
.table {border: solid 1px #888888; width:300;margin:auto;}
.table th {border-right:1px #999999; background:#EF4135;color:#ffffff;font-size:16px; padding:5px;text-align:center;
text-transform:uppercase}
.table td {border-right: 1px #aaaaaa; border-bottom:solid 1px #aaaaaa; padding:8px; word-break:break-all;
font-family:Arial, Helvetica, sans-serif;font-size:15px;}
p {margin:0px;padding:4px!important; font-size:15px;font-family:Arial, Helvetica, sans-serif;text-transform:capitalize}
.ttd {margin-top:50px; line-height:25px;} 
</style>
<div class="header"><img src="./img/garuda-perwakilan.png" /><span>
<h3>Embassy of the Republic of Indonesia to the Kingdom of Thailand</h3>
</span>
</div>
    <table cellpadding="0" cellspacing="0" class="table">
        <tbody>
            <tr>
                <td style="width: 20%;">
                    Nama Lengkap 
                </td>
                <td> :  </td>
                <td style='width:70%;'>  
                  <?php echo $nama;?>
                </td>
            </tr>
            <tr>
              <td style="width: 20%;"> FOTO
                </td>
                <td> :  </td>
                <td style='width:70%;'>
                            <?php echo "<img src='./img/garuda-perwakilan.png'>"; /*./images/$gbr*/ ?>
                </td>
                     
            </tr>
            <tr>
                <td style="width: 20%;">
                    Tempat Lahir
                  </td>
                  <td> : </td>
                  <td style='width:70%;'>
                    <?php echo $tempat_lahir;?>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    Tanggal Lahir
                  </td>
                  <td> : </td>
                  <td style='width:70%;'>
                    <?php echo $tgl_lahir_user;?>
                </td>
              </tr>
              <tr>
                <td style="width: 20%;">
                  Agama 
                </td>
                <td> : </td>
                <td style='width:70%;'>  
                  <?php echo $agama; ?>
                </td>
              </tr>
              <tr>
                <td style="width: 20%;">
                    Status
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $status; ?>
                </td>
              </tr>
               <tr>
                <td style="width: 20%;">
                  Jenis Kelamin
                </td>
                <td> : </td>  
                <td style='width:70%;'>
                  
                      <?php 
                        if($jk = "L"){
                            $namajk = "Laki-Laki";
                        }else{
                            $namajk = "Perempuan";
                        }
                      echo $namajk;
                      ?>
                  
                </td>
              </tr>
              <tr>
                <td style="width: 20%;">Kewarganegaraan</td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $nama_kewarganegaraan_lain;?> 
                </td>
              </tr>
              <tr>
                <td style="width: 20%;">
                  Nama Suami / Istri 
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $nama_suami_istri;?>
                </td>
              </tr>
              <tr>
                <td style="width: 20%;">
                    Jumlah Anak
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  
                    <?php
                        echo $jmlanak;
                        ?>
                    
                </td>
          </tr>
          <?php
          if($jmlanak > 0){
            for ($i=1; $i <= $jmlanak ; $i++) { 
            
             
            echo"<tr>
                <td style='width:20%;'>
                    Nama Anak ke-$i
                </td>
                <td> : </td>
                <td  colspan='2' style='width:70%;'>".
                  
                         $namaanak[$i]
                      
                    
                ."</td>
          </tr>";
          
          }

          }
          else{

          }
          ?>
          <tr>
          <td colspan="8" bgcolor="#999">Data Diri di Indonesia</td>
          </tr>
          <tr>
            <td style='width:20%;'>
                Alamat Rumah
            </td>
            <td> : </td>
            <td  style='width:70%;'>
              <?php echo $alamatrumahi;?>
            </td>
          </tr>
           <tr>
            <td style='width:20%;'>
                Kota
            </td>
            <td> : </td>  
            <td style='width:70%;'>
              <?php echo $kotai;?>
            </td>
          </tr>
          <tr> 
            <td style='width:20%;'>
                Provinsi
            </td>
            <td> : </td>
            <td  style='width:70%;'>  
              <?php echo $provinsii;?>
            </td>
          </tr>
          <tr>
            <td style='width:20%;'>
                Kode Pos
            </td>
            <td> : </td>
            <td   style='width:70%;'>
              <?php echo $Kode_posi; ?>
            </td>
          </tr>
           <tr>
            <td style='width:20%;'>
                No. Telp
            </td>
            <td> : </td>
            <td  style='width:70%;'>
              <?php echo $no_tlpi;?>
            </td>
          </tr>
          <tr>
          <td colspan="8" bgcolor="#999">Data Diri di Thailand</td>
          </tr>
          <tr>
                  <td style='width:20%;'>
                    Alamat rumah
                  </td>
                  <td> : </td>
                  <td   style="width:70%">
                    <?php echo $alamat_rumaht;?>
                </td>
         </tr>
         <tr>
                <td style='width:20%;'>
                    Kode Pos
                </td>
                <td> : </td>
                <td   style='width:70%;'>
                    <?php echo $Kode_post;?>
                </td>
          </tr>
          <tr>
                <td style='width:20%;'>
                     Kota
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $kotat;?>
                </td>
          </tr>
          <tr>
                <td style='width:20%;'>
                   No Telp
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $tlpt;?>
                </td>
          </tr>
          <tr>
                <td style='width:20%;'>
                  Email
                </td>
                <td> : </td>
                <td  style='width:70%;'>  
                  <?php echo $email;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                  Pekerjaan
                </td>
                <td> : </td>   
                <td  style='width:70%;'>
                   <?php echo $pekerjaant;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                  Nama Tempat <br/>kerja/Sekolah
                </td>
                <td> : </td>
                <td  style='width:70%;'>  
                    <?php echo $tmptkerjasekolah;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                  No Tlpn tempat <br/>kerja/Sekolah
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                 <?php echo $tlptmptkerjasekolah;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                    Alamat Kantor / sekolah
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $alamatkantorsekolah;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                    Kode Pos <br/>Kantor Sekolah
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $Kodeposkantorsekolah;?>
                </td>
            </tr>
            <tr>
                <td style='width:20%;'>
                    Kota Kantor Sekolah
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $kotakantorsekolah;?>
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td>  </td>
                <td>
                    
                </td>
            </tr>
            <tr>
            <td colspan="8" bgcolor="#999">Informasi Paspor</td>
            </tr>
            <tr>
                <td style='width:20%;'>
                  Jenis Paspor
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $paspor;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Nomor Paspor
                </td>
                <td> : </td>
                <td  style='width:70%;'> 
                    <?php echo $nomor_paspor;?>    
                </td>
              </tr>
                <tr>
                  <td style='width:20%;'> 
                    Tempat dikeluarkan
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $tempat_keluar;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Tanggal dikeluarkan
                  </td>
                   <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $tanggalkp;?> 
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Berlaku <br/>Sampai dengan
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                      <?php echo $tanggalap;?>
                  </td>
                </tr>
                <tr>
                  <td colspan="8"></td>
                </tr>
                <tr>
                <td colspan="8" bgcolor="#555"><h3>KONTAK YANG DAPAT DIHUBUNGI APABILA TERDAPAT SITUASI DARURAT</h3></td>
                </tr>
                <tr>
                <td colspan="8" bgcolor="#999">Di Thailand</td>
                </tr>
              <tr>
                <td style='width:20%;'>
                  Nama Lengkap
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $rnamalengkapht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Hubungan dengan pendaftar
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $statushubungant;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Alamat <br/>(*Nama Jalan dan Nomor)
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $alamathubunganht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Kode pos
                </td>
                <td> : </td>
                <td  style='width:70%;'>  
                  <?php echo $Kodeposht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Kota 
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $kotaht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Nomor tlpn 
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $notlpht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  No Seluler 
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $nosht;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Alamat Email
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $emailht;?>
                </td>
              </tr>
              <tr>
              <td colspan="8" bgcolor="#999">Di Indonesia</td>
              </tr>
               <tr>
                  <td style='width:20%;'>
                    Nama Lengkap
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                      <?php echo $rnamalengkaphi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Hubungan dengan pendaftar
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $statushubungani;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Alamat <br/>(*Nama Jalan dan Nomor)
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $alamathubunganhi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Kode pos
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>  
                    <?php echo $Kodeposhi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Kota 
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $kotahi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Nomor tlpn 
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $notlphi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    No Seluler 
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                      <?php echo $noshi;?>
                  </td>
                </tr>
                <tr>
                  <td style='width:20%;'>
                    Alamat Email
                  </td>
                  <td> : </td>
                  <td  style='width:70%;'>
                    <?php echo $emailhi;?>
                  </td>
                </tr>
                <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                <tr>
                  <td colspan="8"></td>
                </tr>
                <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                 <tr>
                  <td colspan="8"></td>
                </tr>
                <tr>
                <td colspan="8" bgcolor="#555"><h3>ISIAN BAGI PENDAFTARAN ANAK DI BAWAH USIA 18 TAHUN<br/> OLEH ORANG TUA</h3></td>
                </tr>
                <tr>
                <td colspan="8" bgcolor="#999">Data Ayah</td>
                </tr>
                <tr>
                <td style='width:20%;'>
                  Nama Lengkap
                </td>
                <td> : </td>  
                <td  style='width:70%;'>
                  <?php echo $nama_lengkap_ayah;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Tempat dan Tanggal Lahir
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $tempat_lahir_ayah.", ".$tgl_lahir_ayah;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Kewarganegaraan
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $kewarganegaraan_ayah;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  No. Paspor
                </td>
                <td> : </td>
                <td   style='width:70%;'>
                  <?php echo $no_paspor_ayah;?>
                </td>
              </tr>
              <tr>
                <td colspan="8" bgcolor="#999">Data Ayah</td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Nama Lengkap
                </td>
                <td> : </td>  
                <td   style='width:70%;'>
                  <?php echo $nama_lengkap_ibu;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Tempat dan Tanggal Lahir
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $tempat_lahir_ibu.", ".$tgl_ibu;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  Kewarganegaraan
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $kewarganegaraan_ibu;?>
                </td>
              </tr>
              <tr>
                <td style='width:20%;'>
                  No. Paspor
                </td>
                <td> : </td>
                <td  style='width:70%;'>
                  <?php echo $no_paspor_ibu;?>
                </td>
              </tr>
              <tr>
                <td colspan="8" bgcolor="#555"><h3>INFORMASI KEKONSULERAN</h3></td>
              </tr>
               <tr>
              <td style='width:20%;'>
                Tanggal ketibaan <br/> di Thailand <i><br/>(tanggal/bulan/tahun)</i>
              </td>
              <td> : </td>
              <td   style='width:70%;'>
                <?php echo $tanggal_tiba;?>
              </td>
            </tr>
            <tr>
                <td  style='width:20%;'>Maksud tinggal <br/> di Thailand</td>
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $mtinggalt;?>
                </td>
            </tr>
            <tr>
                <td  style='width:20%;'>Tempat dan Tanggal <br/>Pengisian Formulir</td>  
                <td> : </td>
                <td  style='width:70%;'>
                    <?php echo $tempattpf.", ".$tanggalttpf;?>
                </td>
            </tr>
  </tbody>
</table>